<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mongo Scraper</title>
  <link rel="icon" href="">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

</head>

<body>
    {{{body}}}
    <!-- Latest compiled and minified Jquery(for javascript CDN to work, you need jquery!!) -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- fontawesome java script CDN -->
    <script src="https://use.fontawesome.com/5f81f098cd.js"></script>
    <!-- Latest bootstrap compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <!-- <script src="/assets/js/save.js"></script> -->
</body>

</html>